// Color variables

//Palette
$color-day-body-text: #212121;
$color-day-dimmed-text: #8F9AA3;
$color-day-link-text: #545454;
$color-day-inverted-text: #FFFFFF;
$color-day-HC-text: #000000;

$color-day-visual-grouping: #EAEBEB;
$color-day-page: #FFFFFF;
$color-day-shadow: rgba(0,0,0,0.15);
$color-day-specular: rgba(255,255,255,0.28);

$color-day-accent: #11446C;
$gradient-day-accent: linear-gradient(to right top, #0F3552 0%, #125181 100%);

$color-day-overlay: rgba(0, 0, 0, 0.5);

//CSS Variables
@mixin day-colors() {
  --text-color-body-text: #{$color-day-body-text};
  --text-color-dimmed: #{$color-day-dimmed-text};
  --text-color-link: #{$color-day-link-text};
  --text-color-inverted: #{$color-day-inverted-text};
  --text-color-high-contrast: #{$color-day-HC-text};

  --color-visual-grouping: #{$color-day-visual-grouping};
  --color-page: #{$color-day-page};
  --color-shadow: #{$color-day-shadow};
  --color-specular: #{$color-day-specular};

  --color-accent: #{$color-day-accent};
  --gradient-accent: #{$gradient-day-accent};
  --color-accent-hover: #f0f;

  --color-day-overlay: #{$color-day-overlay};
}

:root {
  @include day-colors();
}
