// Global Style Elements

@mixin resize-handles() {
  border-image: url('border-image-day.png');
  border-width: 8px;
  border-style: solid;
  border-image-slice: 24;
  border-image-outset: 4px;
  
  // This is the best approximation without complex trickery. Technically
  // an outline-image would be the way to go, but suich a thing does not
  // exist in CSS.
}