@use 'scss-variables';
@use 'global-styles';

// Home page specific CSS

main {
  // a grid of cards
  @media(min-width: #{scss-variables.$break-point-tablet}){
    display: grid;
    grid-gap: var(--spacer-section) var(--grid-gap); //row column -> Y X, not X Y
    grid-template-columns: repeat(2, 1fr);
  }

  .page-opener {
    // Push content following the .page-opener down by
    // viewport-height minus:
    // - the amount it is meant to peek in form the bottom edge -> 4.7rem
    // - body margin
    // - header height -> 3.3rem
    // - header-margin-bottom
    // - grid-row-gap
    min-height: calc(100vh - 8rem - var(--body-margin) - (var(--spacer-section) * 2));
  }

  article {
    // Each article is a card
    margin-bottom: var(--grid-gap);
    @media(min-width: #{scss-variables.$break-point-tablet}){
      // On tablet and above, the container uses CSS grid to distribute the cards
      margin-bottom: 0;
    }
    position: relative;

    // Limit height based on width
    aspect-ratio: 16 / 9;

    &.CTA {
      // CTA is full width
      grid-column: 1 / -1;

      // Allow for taller content than usual
      aspect-ratio: unset;

      &>div {
        text-align: left;

        @media (min-width: 55.5rem){ // = 49.5rem + 2x3rem body-margin on desktop see foundation.scss
          max-width: 49.5rem;
          margin-left: auto;
          margin-right: auto;
          box-sizing: border-box;
        }
      }
    }

    .card {
      // All cards except CTA are links with the class 'card'
      display: block;
      @include global-styles.resize-handles;
      position: absolute;
      inset: 0;

      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      padding: var(--grid-gap);
      background-origin: content-box;

      transition-property: padding;
      transition-duration: var(--transition-duration-XL);
      transition-timing-function: var(--transition-timing-function);

      &:hover, &:focus {
        padding: calc(var(--grid-gap) / 2);
        .card-body {
          opacity: 1;
        }
      }

      &:focus-visible {
        outline: solid 2px var(--color-accent);
        outline-offset: calc((var(--grid-gap) / 2) - 4px);
      }

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;

        opacity: 0;

        transition-property: opacity;
        transition-duration: var(--transition-duration-XL);
        transition-timing-function: var(--transition-timing-function);

        position: absolute;
        inset: 0;
        background-color: var(--color-day-overlay);

        color: var(--text-color-inverted);
        text-align: center;

        padding: var(--grid-gap);

        h2 {
          background: unset;
          -webkit-background-clip: unset;
          -webkit-text-fill-color: unset;
          color: var(--text-color-inverted);
        }
      }
    }

  }
}
footer {
  max-width: unset;
}
