@charset "UTF-8";
@import url("https://use.typekit.net/xyc8fjn.css");
:root {
  --text-color-body-text: #212121;
  --text-color-dimmed: #8F9AA3;
  --text-color-link: #545454;
  --text-color-inverted: #FFFFFF;
  --text-color-high-contrast: #000000;
  --color-visual-grouping: #EAEBEB;
  --color-page: #FFFFFF;
  --color-specular: #ffffff;
  --color-accent: #11446C;
  --gradient-accent: linear-gradient(to right top, #0F3552 0%, #125181 100%);
  --color-overlay: rgba(255, 255, 255, 0.8);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color-body-text: #c6c6c6;
    --text-color-dimmed: #7d8890;
    --text-color-link: #e0e0e0;
    --text-color-inverted: #141414;
    --text-color-high-contrast: #000000;
    --color-visual-grouping: #272929;
    --color-page: #141414;
    --color-specular: #000000;
    --color-accent: #198de5;
    --gradient-accent: linear-gradient(to right top, #75baef 0%, #8cc5f1 100%);
    --color-overlay: rgba(20, 20, 20, 0.8);
  }
}

:root {
  --line-height-factor: 1.5;
  --line-height-factor-responsive: 1.5;
}
@media (0 < width < 744px) {
  :root {
    --line-height-factor-responsive: 1.2;
  }
}

body {
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  color: var(--text-color-body-text);
}

h2 + p.byline, h3 + p.byline {
  margin-top: calc(-1 * var(--spacer-line-break));
  margin-bottom: var(--spacer-line-break);
}

a:link, a:active, a:visited {
  text-decoration: underline;
  color: var(--text-color-link);
}
a:hover, a:focus {
  text-decoration: underline;
  color: var(--color-accent);
}

em, strong, p.byline {
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

.underline {
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  color: var(--text-color-body-text);
  text-decoration: underline;
}

.literal {
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  color: var(--text-color-body-text);
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

h1 {
  font-family: futura-pt, "Futura PT", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-accent);
  font-weight: 700;
  font-size: 4rem;
  line-height: var(--line-height-factor);
  margin: calc(var(--spacer-section) - var(--grid-gap)) 0 calc(var(--spacer-element) - var(--grid-gap)) 0;
  outline: solid 1px var(--color-visual-grouping);
  position: relative;
}
@supports (-webkit-background-clip: text) {
  h1 {
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
h1 + *:not(h1) {
  margin-top: var(--spacer-element);
}
@media (max-width: 744px) {
  h1 {
    font-size: 2.5rem;
    line-height: var(--line-height-factor-responsive);
  }
}
h1:after {
  position: absolute;
  inset: 0;
  display: block;
  content: " ";
  pointer-events: none;
  border-color: transparent;
  border-image-source: url("../images/border-image-day.png");
  border-width: 8px;
  border-style: solid;
  border-image-slice: 24;
  border-image-outset: 4px;
}
@media (prefers-color-scheme: dark) {
  h1:after {
    border-image-source: url("../images/border-image-night.png");
  }
}

h2 {
  font-family: futura-pt, "Futura PT", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: 2rem;
  line-height: var(--line-height-factor);
  margin: var(--spacer-element) 0 var(--spacer-line-break) 0;
}
@supports (-webkit-background-clip: text) {
  h2 {
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media (max-width: 744px) {
  h2 {
    font-size: 1.25rem;
  }
}

h3 {
  font-family: futura-pt, "Futura PT", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: 1.5rem;
  line-height: var(--line-height-factor);
  margin: 0;
}
@supports (-webkit-background-clip: text) {
  h3 {
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media (max-width: 744px) {
  h3 {
    font-size: 1rem;
  }
}

h4 {
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  color: var(--text-color-body-text);
  font-weight: 300;
  margin: 0;
  margin: calc(var(--line-height-factor) * 1rem) 0 0 0;
}

ol, ul {
  margin: 0 0 1rem 0;
  padding: 0 0 0 0.6rem;
  font-weight: 300;
}
h3 + ol, h5 + ol, h3 + ul, h5 + ul {
  margin: 1rem 0 0 0;
}
ol li, ul li {
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  color: var(--text-color-body-text);
  padding-left: 0.8rem;
}

ul {
  list-style-type: "–";
}
ul ul {
  list-style-type: "•";
}

p.teaser {
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  color: var(--text-color-body-text);
  font-weight: 300;
  font-size: 2rem;
  line-height: 3rem;
  font-size: 1.25rem;
  line-height: var(--line-height-factor);
}

@media (min-width: 744px) {
  p.teaser {
    font-family: proxima-nova, "Proxima Nova", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: var(--line-height-factor);
    color: var(--text-color-body-text);
    font-weight: 300;
    font-size: 2rem;
    line-height: 3rem;
  }
}
.dim {
  color: var(--text-color-dimmed);
}

.accent {
  color: var(--color-accent);
}

button, .button, a[role=button] {
  --transition-duration: var(--transition-duration-L);
  --transition-duration-click: var(--transition-duration-L-click);
  --color-ambient-occlusion-level-1: rgba(0, 0, 0, 0.02);
  --color-ambient-occlusion-level-2: rgba(0, 0, 0, 0.04);
  --color-drop-shadow: rgba(0, 0, 0, 0.12);
  --color-inset-shadow-when-pressed: var(--color-drop-shadow);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  color: var(--text-color-body-text);
  padding: 0.875rem 0.6875rem;
  margin: 0;
  border-radius: var(--border-radius-default);
  transition-property: box-shadow, transform;
  transition-duration: var(--transition-duration, 5s);
  transition-timing-function: var(--transition-timing-function);
  background-color: var(--color-page);
  border: solid 1px var(--text-color-dimmed);
  box-shadow: 0 0 0 0 var(--color-ambient-occlusion-level-1), 0 0 0 0 var(--color-ambient-occlusion-level-2), 0 0 0 0 var(--color-drop-shadow), inset 0 0 0 0 var(--color-inset-shadow-when-pressed);
  text-decoration: none;
  text-align: center;
  color: var(--text-color-body-text, #f0f);
}
@media (max-width: 535px) {
  button, .button, a[role=button] {
    white-space: normal;
  }
}
button:link, button:active, button:visited, .button:link, .button:active, .button:visited, a[role=button]:link, a[role=button]:active, a[role=button]:visited {
  text-decoration: none;
  color: var(--text-color-body-text, #f0f);
}
button:hover, button:focus, .button:hover, .button:focus, a[role=button]:hover, a[role=button]:focus {
  transition-duration: var(--transition-duration, 5s);
  transition-timing-function: cubic-bezier(1, 1.5, 0.75, 0.87);
  transform: scale(1.03);
  box-shadow: 0 0 0.25rem 0 var(--color-ambient-occlusion-level-1), 0 0 1.5rem 0 var(--color-ambient-occlusion-level-2), 0 0.5rem 1px 0 var(--color-drop-shadow), inset 0 0 0 0 var(--color-inset-shadow-when-pressed);
  text-decoration: none;
  color: var(--text-color-body-text, #f0f);
}
button:active, .button:active, a[role=button]:active {
  transition-duration: var(--transition-duration-click);
  transform: scale(1);
  box-shadow: 0 0 0 0 var(--color-ambient-occlusion-level-1), 0 0 0 0 var(--color-ambient-occlusion-level-2), 0 0 0 0 var(--color-drop-shadow), inset 0 0.5rem 1px 0 var(--color-inset-shadow-when-pressed);
}
button.nav-button, .button.nav-button, a[role=button].nav-button {
  display: inline-block;
  background-color: var(--color-page);
  padding: 0.25rem 0.5rem;
  margin: 0;
  border-color: transparent;
}
button.nav-button.current, .button.nav-button.current, a[role=button].nav-button.current {
  background-color: var(--color-visual-grouping);
}
button.nav-button:hover, button.nav-button:focus, .button.nav-button:hover, .button.nav-button:focus, a[role=button].nav-button:hover, a[role=button].nav-button:focus {
  background-color: var(--color-specular);
  border-color: var(--text-color-dimmed);
  transform: scale(1.1);
  box-shadow: 0 0 0.25rem 0 var(--color-ambient-occlusion-level-1), 0 0 1.5rem 0 var(--color-ambient-occlusion-level-2), 0 0.25rem 1px 0 var(--color-drop-shadow), inset 0 0 0 0 var(--color-inset-shadow-when-pressed);
}
button.nav-button:hover.current, button.nav-button:focus.current, .button.nav-button:hover.current, .button.nav-button:focus.current, a[role=button].nav-button:hover.current, a[role=button].nav-button:focus.current {
  background-color: var(--color-visual-grouping);
}
button.nav-button:active, .button.nav-button:active, a[role=button].nav-button:active {
  box-shadow: 0 0 0 0 var(--color-ambient-occlusion-level-1), 0 0 0 0 var(--color-ambient-occlusion-level-2), 0 0 0 0 var(--color-drop-shadow), inset 0 0.25rem 1px 0 var(--color-inset-shadow-when-pressed);
}
button.nav-button:active.current, .button.nav-button:active.current, a[role=button].nav-button:active.current {
  background-color: var(--color-visual-grouping);
}
button.CTA, .button.CTA, a[role=button].CTA {
  background: var(--gradient-accent);
  color: var(--text-color-inverted);
  border: none;
  --color-inset-shadow-when-pressed: rgba(0, 0, 0, 0.33);
}
button.CTA:link, button.CTA:active, button.CTA:visited, .button.CTA:link, .button.CTA:active, .button.CTA:visited, a[role=button].CTA:link, a[role=button].CTA:active, a[role=button].CTA:visited {
  text-decoration: none;
  color: var(--text-color-inverted, #f0f);
}
button.CTA:hover, button.CTA:focus, .button.CTA:hover, .button.CTA:focus, a[role=button].CTA:hover, a[role=button].CTA:focus {
  background-color: var(--color-accent-hover, #f0f);
  color: var(--text-color-inverted, #f0f);
  text-decoration: none;
}
aside button, aside .button, aside a[role=button] {
  display: block;
  text-align: center;
}

.card {
  position: relative;
}
.card .label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--spacer-line-break) var(--grid-gap);
  box-sizing: border-box;
  background: var(--color-overlay);
}
.card h2, .card h3, .card h4, .card h5, .card h6, .card p {
  margin-block: 0;
}
.card h2, .card h3, .card h4, .card h5, .card h6 {
  font-size: 1.5rem;
}

svg.icon {
  width: calc(1rem * var(--line-height-factor));
  height: calc(1rem * var(--line-height-factor));
  display: block;
  --transition-duration: var(--transition-duration-M);
  --primary-transform: 1;
  --secondary-transform: 0;
}
svg.icon use {
  --text-color-body-text: #212121;
  --text-color-dimmed: #8F9AA3;
  --text-color-link: #545454;
  --text-color-inverted: #FFFFFF;
  --text-color-high-contrast: #000000;
  --color-visual-grouping: #EAEBEB;
  --color-page: #FFFFFF;
  --color-specular: #ffffff;
  --color-accent: #11446C;
  --gradient-accent: linear-gradient(to right top, #0F3552 0%, #125181 100%);
  --color-overlay: rgba(255, 255, 255, 0.8);
}
@media (prefers-color-scheme: dark) {
  svg.icon use {
    --text-color-body-text: #c6c6c6;
    --text-color-dimmed: #7d8890;
    --text-color-link: #e0e0e0;
    --text-color-inverted: #141414;
    --text-color-high-contrast: #000000;
    --color-visual-grouping: #272929;
    --color-page: #141414;
    --color-specular: #000000;
    --color-accent: #198de5;
    --gradient-accent: linear-gradient(to right top, #75baef 0%, #8cc5f1 100%);
    --color-overlay: rgba(20, 20, 20, 0.8);
  }
}
*:hover > svg.icon {
  --transition-duration: var(--transition-duration-M);
  --primary-transform: 0;
  --secondary-transform: 1;
}
svg.icon.inline {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 0.25em;
}
svg.icon.inline.right {
  margin-left: 0.25em;
  margin-right: 0;
}

.mobile {
  display: none;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

@media (max-width: 743px) {
  .mobile {
    display: unset;
  }
}
@media (min-width: 744px) and (max-width: 1279px) {
  .tablet {
    display: unset;
  }
}
@media (min-width: 1280px) {
  .desktop {
    display: unset;
  }
}
body {
  display: grid;
  grid-template-columns: [page-start breakout-start left-breakout-column-start] 2fr [oversized-start left-oversized-start] 1fr [main-start left-column-start left-two-thirds-start left-one-third-start] 2fr [left-one-third-end left-oversized-end right-two-thirds-start] 1fr [left-column-end left-breakout-column-end right-breakout-column-start right-column-start] 1fr [left-two-thirds-end right-one-third-start right-oversized-start] 2fr [main-end right-two-thirds-end right-one-third-end right-column-end] 1fr [oversized-end right-oversized-end] 2fr [page-end right-breakout-column-end breakout-end];
  gap: var(--grid-gap) var(--grid-gap);
}
@media (max-width: 1280px) {
  body {
    grid-template-columns: [page-start breakout-start left-breakout-column-start] 2fr [oversized-start left-oversized-start main-start left-column-start left-two-thirds-start left-one-third-start] 3fr [left-one-third-end left-oversized-end right-two-thirds-start] 1fr [left-column-end left-breakout-column-end right-breakout-column-start right-column-start] 1fr [left-two-thirds-end right-one-third-start right-oversized-start] 3fr [main-end right-two-thirds-end right-one-third-end right-column-end oversized-end right-oversized-end] 2fr [page-end right-breakout-column-end breakout-end];
  }
}
@media (max-width: 1024px) {
  body {
    grid-template-columns: [page-start breakout-start left-breakout-column-start oversized-start left-oversized-start main-start left-column-start left-two-thirds-start left-one-third-start] 5fr [left-one-third-end left-oversized-end right-two-thirds-start] 1fr [left-column-end left-breakout-column-end right-breakout-column-start right-column-start] 1fr [left-two-thirds-end right-one-third-start right-oversized-start] 5fr [main-end right-two-thirds-end right-one-third-end right-column-end oversized-end right-oversized-end page-end right-breakout-column-end breakout-end];
  }
}
@media (max-width: 534px) {
  body {
    display: block;
  }
  body main > * {
    margin-block: var(--spacer-line-break);
  }
}

.layout, main, section {
  display: grid;
  grid-template-columns: subgrid;
}
@media (max-width: 534px) {
  .layout, main, section {
    display: block;
  }
}

.layout {
  grid-template-rows: [left-content-start right-content-start] auto [left-content-end right-content-end];
}

main {
  grid-column: page;
  gap: var(--grid-gap) var(--grid-gap);
}

section {
  grid-column: page;
  column-gap: var(--grid-gap);
  row-gap: 0;
}

.main, .page-opener {
  grid-column: main;
}

.breakout, .hero {
  grid-column: breakout;
}

.breakout-columns .column:first-child, .breakout-columns .card:first-child {
  grid-row: left-content;
  grid-column: left-breakout-column;
}
.breakout-columns .column:last-child, .breakout-columns .card:last-child {
  grid-row: right-content;
  grid-column: right-breakout-column;
}

.floating-illustration {
  background-color: var(--color-visual-grouping);
  padding: var(--grid-gap);
  box-sizing: border-box;
  text-align: center;
}
.floating-illustration.main {
  display: grid;
  grid-template-columns: subgrid;
}
@media (max-width: 534px) {
  .floating-illustration.main {
    display: block;
  }
}
.floating-illustration.main img {
  grid-column: main;
}

.two-columns .column:first-child, .two-columns .card:first-child {
  grid-row: left-content;
  grid-column: left-column;
}
.two-columns .column:last-child, .two-columns .card:last-child {
  grid-row: right-content;
  grid-column: right-column;
}

.left-one-thirds {
  grid-column: left-one-thirds;
  grid-row: left-content;
}

.left-oversized {
  grid-column: left-oversized;
  grid-row: left-content;
}

@media (max-width: 534px) {
  .left-one-third, .left-oversized {
    max-width: 40%;
    float: left;
    margin-right: var(--grid-gap);
    margin-bottom: var(--grid-gap);
  }
}

.right-one-third {
  grid-column: right-one-third;
  grid-row: right-content;
}

.right-oversized {
  grid-column: right-oversized;
  grid-row: right-content;
}

@media (max-width: 534px) {
  .right-one-third, .right-oversized {
    max-width: 40%;
    float: right;
    margin-left: var(--grid-gap);
    margin-bottom: var(--grid-gap);
  }
}

.left-two-thirds {
  grid-column: left-two-thirds;
  grid-row: left-content;
}

.right-two-thirds {
  grid-column: right-two-thirds;
  grid-row: right-content;
}

.oversized {
  grid-column: oversized;
  grid-row: left-content;
}

.ceil {
  height: fit-content;
  align-self: start;
}

.vertical-middle {
  height: fit-content;
  align-self: center;
}

.floor {
  height: fit-content;
  align-self: end;
}

img, figure, video {
  border-radius: var(--border-radius-default);
  margin: var(--spacer-line-break) 0 var(--spacer-line-break) 0;
  box-sizing: border-box;
}
img:first-child, figure:first-child, video:first-child {
  margin-top: 0;
}
img:last-child, figure:last-child, video:last-child {
  margin-bottom: 0;
}
img *, figure *, video * {
  max-width: 100%;
}

img, figure, video, audio {
  margin: 0;
  padding: 0;
}

img, video, audio {
  width: 100%;
  height: auto;
  max-height: 80vh;
  max-height: 80svh;
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.visually-grouped-block {
  outline: solid 1px var(--color-visual-grouping);
  position: relative;
  height: fit-content;
  padding: var(--spacer-line-break);
}
.visually-grouped-block:after {
  position: absolute;
  inset: 0;
  display: block;
  content: " ";
  pointer-events: none;
  border-color: transparent;
  border-image-source: url("../images/border-image-day.png");
  border-width: 8px;
  border-style: solid;
  border-image-slice: 24;
  border-image-outset: 4px;
}
@media (prefers-color-scheme: dark) {
  .visually-grouped-block:after {
    border-image-source: url("../images/border-image-night.png");
  }
}
.visually-grouped-block.floor {
  align-self: end;
}
.visually-grouped-block figure {
  margin: calc(-1 * var(--spacer-line-break)) calc(-1 * var(--spacer-line-break)) var(--spacer-line-break) calc(-1 * var(--spacer-line-break));
}
.visually-grouped-block figure:first-child, .visually-grouped-block figure:first-child img {
  border-radius: 0;
}

.visually-grouped-list {
  border-left: solid 2px var(--color-accent, #f0f);
  padding-left: 1.5rem;
  margin: var(--spacer-element) 0 var(--spacer-line-break, 500px) 0;
}
.visually-grouped-list.aside {
  border-color: var(--text-color-dimmed);
}
.visually-grouped-list.aside h1, .visually-grouped-list.aside h2, .visually-grouped-list.aside h3, .visually-grouped-list.aside h4, .visually-grouped-list.aside h5, .visually-grouped-list.aside h6 {
  background: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  color: var(--text-color-dimmed);
}
.visually-grouped-list:first-child {
  margin-top: 0;
}

footer {
  grid-column: page;
}

header label {
  position: absolute;
  top: calc(var(--body-margin) + 0.28125rem);
  right: var(--body-margin);
  z-index: 101;
}
header nav {
  /*
  The input[type=checkbox]#nav-toggle triggers all .triggered nodes to change the menu icon and show/hide the menu
  */
}
header nav .menu {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-page, #f0f);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacer-line-break);
}
header nav input[type=checkbox]#nav-toggle {
  visibility: hidden;
  position: absolute;
  left: -5000px;
}
header nav input[type=checkbox]#nav-toggle + label #close {
  display: none;
}
@media (max-width: 1022px) {
  header nav input[type=checkbox]#nav-toggle:checked ~ label {
    position: fixed;
  }
  header nav input[type=checkbox]#nav-toggle:checked ~ .triggered-by-nav-toggle #close {
    display: unset;
  }
  header nav input[type=checkbox]#nav-toggle:checked ~ .triggered-by-nav-toggle #menu {
    display: none;
  }
  header nav input[type=checkbox]#nav-toggle:checked ~ .menu.triggered-by-nav-toggle {
    display: flex;
    margin: 0;
    padding: var(--body-margin);
    min-height: 100vh;
    min-height: 100lvh;
  }
}
header nav ul {
  list-style: none;
  padding: 0;
}
@media (max-width: 1022px) {
  header nav a {
    font-family: futura-pt, "Futura PT", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: var(--color-accent);
  }
  header nav a .CTA {
    color: var(--text-color-inverted);
  }
}
header nav a:link, header nav a:active, header nav a:visited {
  text-decoration: none;
  color: var(--text-color-link, #f0f);
}
header nav a:hover, header nav a:focus {
  text-decoration: underline;
  color: var(--text-color-body-text, #f0f);
}
header nav a.current {
  text-decoration: underline;
}
@media (min-width: 1023px) {
  header nav input, header nav label {
    display: none;
  }
  header nav .menu {
    display: flex;
    position: unset;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
  }
  header nav a, header nav a[role=button] {
    padding: calc(0.25rem - 1px) calc(0.5rem - 1px);
  }
}

header {
  grid-column: page;
  display: flex;
  gap: var(--grid-gap, 500px);
  margin-bottom: var(--spacer-section);
}
header a, header a:link, header a:active, header a:visited, header a:hover, header a:focus {
  text-decoration: none;
}
header a:focus-visible h1 {
  text-decoration: underline;
}
header .title {
  font-family: futura-pt, "Futura PT", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-color-dimmed);
  flex-grow: 1;
  margin-bottom: 0;
}
@supports (-webkit-background-clip: text) {
  header .title a, header .title a:link, header .title a:active, header .title a:visited, header .title a:hover, header .title a:focus {
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

:root {
  --spacer-section: 4rem;
  --spacer-element: 3rem;
  --spacer-full: var(--spacer-element);
  --spacer-line-break: 1.5rem;
  --grid-gap: 1rem;
  --body-margin: 0.5rem;
  --border-radius-default: 0.5rem;
  --transition-duration-M: 120ms;
  --transition-duration-M-click: 35ms;
  --transition-duration-L: 240ms;
  --transition-duration-L-click: 55ms;
  --transition-duration-XL: 380ms;
  --transition-timing-function: cubic-bezier(.5, .5, .25, .75);
}
@media (min-width: 744px) {
  :root {
    --spacer-section: 6rem;
    --spacer-element: 3rem;
    --spacer-full: var(--spacer-element);
    --grid-gap: 3rem;
  }
}
@media (min-width: 375px) {
  :root {
    --body-margin: 1rem;
  }
}
@media (min-width: 430px) {
  :root {
    --body-margin: 1.5rem;
  }
}
@media (min-width: 744px) {
  :root {
    --body-margin: 3rem;
  }
}

body {
  margin: var(--body-margin);
  padding: 0;
  background: var(--color-page);
}
@media (min-width: 108rem) {
  body {
    max-width: 102rem;
    margin-left: auto;
    margin-right: auto;
  }
}

img {
  border-radius: var(--border-radius-default);
}

/*# sourceMappingURL=root.css.map */
