@charset "UTF-8";
@import url("https://use.typekit.net/xyc8fjn.css");
:root {
  --text-color-body-text: #212121;
  --text-color-aside-text: #474747;
  --text-color-dimmed: #8F9AA3;
  --text-color-disabled: #b9bfc5;
  --text-color-link: #545454;
  --text-color-inverted: #FFFFFF;
  --text-color-high-contrast: #000000;
  --color-visual-grouping: #EAEBEB;
  --color-page: #FFFFFF;
  --color-specular: rgba(255, 255, 255, 0.75);
  --color-accent: #11446C;
  --color-accent-backgroud: #dbecf9;
  --color-accent-alternative: #da4610;
  --gradient-accent: linear-gradient(to right top, #003966 0%, #0a5289 100%);
  --color-overlay: rgba(255, 255, 255, 0.63);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color-body-text: #c6c6c6;
    --text-color-aside-text: #adadad;
    --text-color-dimmed: #7d8890;
    --text-color-disabled: #586069;
    --text-color-link: #e0e0e0;
    --text-color-inverted: #141414;
    --text-color-high-contrast: #000000;
    --color-visual-grouping: #272929;
    --color-page: #141414;
    --color-specular: rgba(255, 255, 255, 0.28);
    --color-accent: #198de5;
    --color-accent-backgroud: #082d49;
    --color-accent-background: #082d49;
    --color-accent-alternative: #fb6e3c;
    --gradient-accent: linear-gradient(to right top, #75baef 0%, #8cc5f1 100%);
    --color-overlay: rgba(20, 20, 20, 0.55);
  }
}

:root {
  --line-height-factor: 1.48;
  --line-height-factor-headline: 1.3;
  --line-height-factor-responsive: 1.48;
}
@media (0 < width < 744px) {
  :root {
    --line-height-factor-responsive: 1.2;
  }
}

body {
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  color: var(--text-color-body-text);
}
@media (max-width: 429px) {
  body {
    hyphens: auto;
    text-wrap: pretty;
    word-break: auto-phrase;
  }
}

aside {
  font-size: 0.85rem;
  color: var(--text-color-aside-text);
}

p {
  margin-block: var(--line-break);
  margin-inline: 0;
}
p:first-child {
  margin-block-start: 0;
}
p:last-child {
  margin-block-end: 0;
}
p:only-child {
  margin-block: 0;
}
h2 + p.byline, h3 + p.byline {
  margin-top: calc(-1 * var(--line-break));
  margin-bottom: var(--line-break);
}

:root {
  --link-decoration: underline;
  --link-decoration-hover: underline;
  --link-color: var(--text-color-link);
  --link-color-hover: var(--color-accent);
}

a:link, a:active, a:visited {
  text-decoration: var(--link-decoration);
  color: var(--link-color);
}
a:hover, a:focus {
  text-decoration: var(--link-decoration-hover);
  color: var(--link-color-hover);
}

strong {
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
}

em {
  font-style: italic;
}

.underline {
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  text-decoration: underline;
}

.literal {
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  font-style: italic;
}

h1 {
  font-family: futura-pt, "Futura PT", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-accent);
  font-weight: 700;
  font-size: 3rem;
  line-height: var(--line-height-factor-headline);
  outline: solid 1px var(--color-visual-grouping);
  position: relative;
  height: fit-content;
}
@supports (-webkit-background-clip: text) {
  h1 {
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media (max-width: 744px) {
  h1 {
    font-size: 2rem;
    line-height: var(--line-height-factor-responsive);
  }
}
h1:after {
  position: absolute;
  inset: 0;
  display: block;
  content: " ";
  pointer-events: none;
  border-color: transparent;
  border-image-source: url("../images/border-image-day.png");
  border-width: 8px;
  border-style: solid;
  border-image-slice: 24;
  border-image-outset: 4px;
}
@media (prefers-color-scheme: dark) {
  h1:after {
    border-image-source: url("../images/border-image-night.png");
  }
}

h2 {
  font-family: futura-pt, "Futura PT", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: 2rem;
  line-height: var(--line-height-factor-headline);
  margin: var(--margin-element) 0 var(--line-break) 0;
}
@supports (-webkit-background-clip: text) {
  h2 {
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
h2:only-child {
  margin-bottom: 0;
}
@media (max-width: 744px) {
  h2 {
    font-size: 1.25rem;
  }
}

h3 {
  font-family: futura-pt, "Futura PT", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: 1.5rem;
  line-height: var(--line-height-factor-headline);
  margin: 0;
}
@supports (-webkit-background-clip: text) {
  h3 {
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media (max-width: 744px) {
  h3 {
    font-size: 1rem;
  }
}

h4 {
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  font-weight: 300;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  margin-block: calc(1rem * var(--line-height-factor));
  margin-inline: 0;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-block-start: 0;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-block-end: 0;
}
h1:only-child, h2:only-child, h3:only-child, h4:only-child, h5:only-child, h6:only-child {
  margin-block: 0;
}

ul {
  padding: 0 0 0 0.6rem;
}

ol {
  padding: 0 0 0 1.6rem;
}

ol, ul {
  margin: 0 0 1rem 0;
  font-weight: 300;
}
h3 + ol, h5 + ol, h3 + ul, h5 + ul {
  margin: 1rem 0 0 0;
}
ol li, ul li {
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  padding-left: 0.8rem;
}

ul {
  list-style-type: "–";
}
ul ul {
  list-style-type: "•";
}

blockquote {
  clear: both;
  background: var(--color-visual-grouping);
  border-radius: var(--border-radius-default);
  margin: var(--line-break) 0;
  padding: 1px calc(var(--line-height-factor) * 1rem);
}

p.teaser {
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  font-weight: 300;
  font-size: 1.5rem;
  line-height: var(--line-height-factor-headline);
  font-size: 1.3rem;
}

@media (min-width: 744px) {
  p.teaser {
    font-family: proxima-nova, "Proxima Nova", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: var(--line-height-factor);
    font-weight: 300;
    font-size: 1.5rem;
    line-height: var(--line-height-factor-headline);
  }
}
.dim {
  color: var(--text-color-dimmed);
}

.accent {
  color: var(--color-accent);
}

button, .button, a[role=button] {
  --transition-duration: var(--transition-duration-L);
  --transition-duration-click: var(--transition-duration-L-click);
  --color-ambient-occlusion-level-1: rgba(0, 0, 0, 0.02);
  --color-ambient-occlusion-level-2: rgba(0, 0, 0, 0.04);
  --color-drop-shadow: rgba(0, 0, 0, 0.12);
  --color-inset-shadow-when-pressed: var(--color-drop-shadow);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-family: proxima-nova, "Proxima Nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: var(--line-height-factor);
  padding: 0.875rem 0.6875rem;
  margin: 0;
  border-radius: var(--border-radius-default);
  transition-property: box-shadow, transform;
  transition-duration: var(--transition-duration, 5s);
  transition-timing-function: var(--transition-timing-function);
  background-color: var(--color-page);
  border: solid 1px var(--text-color-dimmed);
  box-shadow: 0 0 0 0 var(--color-ambient-occlusion-level-1), 0 0 0 0 var(--color-ambient-occlusion-level-2), 0 0 0 0 var(--color-drop-shadow), inset 0 0 0 0 var(--color-inset-shadow-when-pressed);
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color-body-text, #f0f);
}
@media (max-width: 534px) {
  button, .button, a[role=button] {
    white-space: normal;
  }
}
button:link, button:active, button:visited, .button:link, .button:active, .button:visited, a[role=button]:link, a[role=button]:active, a[role=button]:visited {
  text-decoration: none;
  color: var(--text-color-body-text, #f0f);
}
button:hover, button:focus, .button:hover, .button:focus, a[role=button]:hover, a[role=button]:focus {
  transition-duration: var(--transition-duration, 5s);
  transition-timing-function: cubic-bezier(1, 1.5, 0.75, 0.87);
  transform: scale(1.03);
  box-shadow: 0 0 0.25rem 0 var(--color-ambient-occlusion-level-1), 0 0 1.5rem 0 var(--color-ambient-occlusion-level-2), 0 0.5rem 1px 0 var(--color-drop-shadow), inset 0 0 0 0 var(--color-inset-shadow-when-pressed);
  text-decoration: none;
  color: var(--text-color-body-text, #f0f);
}
button:active, .button:active, a[role=button]:active {
  transition-duration: var(--transition-duration-click);
  transform: scale(1);
  box-shadow: 0 0 0 0 var(--color-ambient-occlusion-level-1), 0 0 0 0 var(--color-ambient-occlusion-level-2), 0 0 0 0 var(--color-drop-shadow), inset 0 0.5rem 1px 0 var(--color-inset-shadow-when-pressed);
}
button.nav-button, .button.nav-button, a[role=button].nav-button {
  display: inline-block;
  background-color: var(--color-page);
  padding: 0.25rem 0.5rem;
  margin: 0;
  border-color: transparent;
}
button.nav-button.current, .button.nav-button.current, a[role=button].nav-button.current {
  background-color: var(--color-visual-grouping);
}
button.nav-button:hover, button.nav-button:focus, .button.nav-button:hover, .button.nav-button:focus, a[role=button].nav-button:hover, a[role=button].nav-button:focus {
  background-color: var(--color-specular);
  border-color: var(--text-color-dimmed);
  transform: scale(1.1);
  box-shadow: 0 0 0.25rem 0 var(--color-ambient-occlusion-level-1), 0 0 1.5rem 0 var(--color-ambient-occlusion-level-2), 0 0.25rem 1px 0 var(--color-drop-shadow), inset 0 0 0 0 var(--color-inset-shadow-when-pressed);
}
button.nav-button:hover.current, button.nav-button:focus.current, .button.nav-button:hover.current, .button.nav-button:focus.current, a[role=button].nav-button:hover.current, a[role=button].nav-button:focus.current {
  background-color: var(--color-visual-grouping);
}
button.nav-button:active, .button.nav-button:active, a[role=button].nav-button:active {
  box-shadow: 0 0 0 0 var(--color-ambient-occlusion-level-1), 0 0 0 0 var(--color-ambient-occlusion-level-2), 0 0 0 0 var(--color-drop-shadow), inset 0 0.25rem 1px 0 var(--color-inset-shadow-when-pressed);
}
button.nav-button:active.current, .button.nav-button:active.current, a[role=button].nav-button:active.current {
  background-color: var(--color-visual-grouping);
}
button.CTA, .button.CTA, a[role=button].CTA {
  background: var(--gradient-accent);
  color: var(--text-color-inverted);
  border: none;
  --color-inset-shadow-when-pressed: rgba(0, 0, 0, 0.33);
}
button.CTA:link, button.CTA:active, button.CTA:visited, .button.CTA:link, .button.CTA:active, .button.CTA:visited, a[role=button].CTA:link, a[role=button].CTA:active, a[role=button].CTA:visited {
  text-decoration: none;
  color: var(--text-color-inverted, #f0f);
}
button.CTA:hover, button.CTA:focus, .button.CTA:hover, .button.CTA:focus, a[role=button].CTA:hover, a[role=button].CTA:focus {
  background-color: var(--color-accent-hover, #f0f);
  color: var(--text-color-inverted, #f0f);
  text-decoration: none;
}
button.disabled, .button.disabled, a[role=button].disabled {
  border: solid 1px var(--text-color-disabled);
  color: var(--text-color-dimmed);
}
button.disabled:hover, button.disabled:focus, .button.disabled:hover, .button.disabled:focus, a[role=button].disabled:hover, a[role=button].disabled:focus {
  transform: none;
  box-shadow: none;
  background-color: unset;
  cursor: not-allowed;
}
aside button, aside .button, aside a[role=button] {
  display: block;
  text-align: center;
}

.card {
  display: block;
  overflow: hidden;
  border-radius: var(--border-radius-default);
  margin: var(--grid-replacing-margin-section) 0;
  --link-color: var(--text-color-link);
  --link-color-hover: var(--text-color-link);
}
@media (min-width: 535px) {
  .card {
    position: relative;
    aspect-ratio: 1;
    --link-decoration: none;
    --link-decoration-hover: none;
  }
}
@media (min-width: 1024px) {
  .card {
    aspect-ratio: 16/10;
  }
}
.card img {
  width: 100%;
}
@media (min-width: 535px) {
  .card img {
    height: 100%;
    object-fit: cover;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.5, 0, 0.2, 1);
    transition-duration: 1s;
  }
}
.card:focus-visible {
  outline: solid var(--text-color-link) 4px;
}
@media (min-width: 535px) {
  .card:hover img {
    transform: scale(1.1);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  }
}
.card .label {
  display: block;
  padding: var(--line-break) 0 0 0;
}
@media (min-width: 535px) {
  .card .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(var(--line-height-factor) * 3rem);
    padding: var(--line-break) var(--grid-gap);
    background: var(--color-overlay);
    -webkit-backdrop-filter: blur(24px) saturate(2);
    backdrop-filter: blur(24px) saturate(2);
    border-top: solid 1px var(--color-specular);
  }
}
.card h2, .card h3, .card h4, .card h5, .card h6, .card p {
  margin-block: 0;
}
.card h2, .card h3, .card h4, .card h5, .card h6 {
  font-size: 1.5rem;
}

#footnotes {
  margin-top: var(--margin-element);
  border-top: solid 2px var(--text-color-dimmed);
  padding-top: var(--line-break);
}

a[href="#footnotes"] {
  display: inline-block;
  transform: translateY(-0.3em);
  font-size: 0.8em;
  letter-spacing: 0.5px;
}
a[href="#footnotes"]:before {
  content: "[";
}
a[href="#footnotes"]:after {
  content: "]";
}

svg.icon {
  width: calc(1rem * var(--line-height-factor));
  height: calc(1rem * var(--line-height-factor));
  display: block;
  --transition-duration: var(--transition-duration-M);
  --primary-transform: 1;
  --secondary-transform: 0;
}
svg.icon use {
  --text-color-body-text: #212121;
  --text-color-aside-text: #474747;
  --text-color-dimmed: #8F9AA3;
  --text-color-disabled: #b9bfc5;
  --text-color-link: #545454;
  --text-color-inverted: #FFFFFF;
  --text-color-high-contrast: #000000;
  --color-visual-grouping: #EAEBEB;
  --color-page: #FFFFFF;
  --color-specular: rgba(255, 255, 255, 0.75);
  --color-accent: #11446C;
  --color-accent-backgroud: #dbecf9;
  --color-accent-alternative: #da4610;
  --gradient-accent: linear-gradient(to right top, #003966 0%, #0a5289 100%);
  --color-overlay: rgba(255, 255, 255, 0.63);
}
@media (prefers-color-scheme: dark) {
  svg.icon use {
    --text-color-body-text: #c6c6c6;
    --text-color-aside-text: #adadad;
    --text-color-dimmed: #7d8890;
    --text-color-disabled: #586069;
    --text-color-link: #e0e0e0;
    --text-color-inverted: #141414;
    --text-color-high-contrast: #000000;
    --color-visual-grouping: #272929;
    --color-page: #141414;
    --color-specular: rgba(255, 255, 255, 0.28);
    --color-accent: #198de5;
    --color-accent-backgroud: #082d49;
    --color-accent-background: #082d49;
    --color-accent-alternative: #fb6e3c;
    --gradient-accent: linear-gradient(to right top, #75baef 0%, #8cc5f1 100%);
    --color-overlay: rgba(20, 20, 20, 0.55);
  }
}
*:hover > svg.icon {
  --transition-duration: var(--transition-duration-M);
  --primary-transform: 0;
  --secondary-transform: 1;
}
svg.icon.inline {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 0.25em;
}
svg.icon.inline.right {
  margin-left: 0.25em;
  margin-right: 0;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pagination ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination ol li {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding: 0.5rem;
}

aside.info {
  border-radius: 3px;
  padding: calc(0.3 * var(--line-break)) calc(0.4 * var(--line-break));
  margin: calc(-0.3 * var(--line-break)) 0;
  background: var(--color-accent-backgroud);
}

body {
  display: grid;
  min-height: calc(100vh - 2 * var(--body-margin));
  grid-template-columns: [page-start breakout-start left-breakout-column-start] 2fr [oversized-start left-oversized-start] 3fr [left-oversized-end main-start left-column-start left-two-thirds-start left-one-third-start] 2fr [left-one-third-end right-two-thirds-start] 1fr [left-column-end left-breakout-column-end right-breakout-column-start right-column-start] 1fr [left-two-thirds-end right-one-third-start] 2fr [main-end right-two-thirds-end right-one-third-end right-column-end right-oversized-start] 3fr [oversized-end right-oversized-end] 2fr [page-end right-breakout-column-end breakout-end];
  gap: var(--margin-section) var(--grid-gap);
  grid-template-rows: [header-start] min-content [header-end content-start] auto [content-end footer-start] min-content [footer-end];
  align-items: start;
}
@media (max-width: 1279px) {
  body {
    grid-template-columns: [page-start breakout-start left-breakout-column-start] 1fr [oversized-start left-oversized-start] 1.5fr [main-start left-column-start left-two-thirds-start left-one-third-start] 2fr [left-one-third-end left-oversized-end right-two-thirds-start] 1fr [left-column-end left-breakout-column-end right-breakout-column-start right-column-start] 1fr [left-two-thirds-end right-one-third-start right-oversized-start] 2fr [main-end right-two-thirds-end right-one-third-end right-column-end] 1.5fr [oversized-end right-oversized-end] 1fr [page-end right-breakout-column-end breakout-end];
  }
}
@media (max-width: 1023px) {
  body {
    grid-template-columns: [page-start breakout-start left-breakout-column-start oversized-start left-oversized-start] 1.5fr [main-start left-column-start left-two-thirds-start left-one-third-start] 3fr [left-one-third-end left-oversized-end right-two-thirds-start] 1fr [left-column-end left-breakout-column-end right-breakout-column-start right-column-start] 1fr [left-two-thirds-end right-one-third-start right-oversized-start] 3fr [main-end right-two-thirds-end right-one-third-end right-column-end] 1.5fr [oversized-end right-oversized-end page-end right-breakout-column-end breakout-end];
  }
}
@media (max-width: 743px) {
  body {
    grid-template-columns: [page-start breakout-start left-breakout-column-start oversized-start left-oversized-start] 1fr [main-start left-column-start left-two-thirds-start left-one-third-start] 4fr [left-one-third-end left-oversized-end right-two-thirds-start] 1fr [left-column-end left-breakout-column-end right-breakout-column-start right-column-start] 1fr [left-two-thirds-end right-one-third-start right-oversized-start] 4fr [main-end right-two-thirds-end right-one-third-end right-column-end] 1fr [oversized-end right-oversized-end page-end right-breakout-column-end breakout-end];
  }
}
@media (max-width: 534px) {
  body {
    display: block;
  }
  body main > * {
    margin-block: var(--grid-replacing-margin);
  }
}

main {
  display: inherit;
  grid-column: page;
  grid-template-columns: subgrid;
  grid-row: content;
  gap: var(--line-break) var(--grid-gap);
}
main .no-grid, main:not(:has(.headline-container, .main, .page-opener, .breakout, .hero, .oversized, .thirds-aside-left, .oversized-aside-left, .thirds-aside-right, .oversized-aside-right)) {
  display: block;
  grid-template-columns: unset;
  grid-column: main;
}

footer {
  clear: both;
  grid-column: page;
  grid-row: footer;
  margin-top: var(--grid-replacing-margin-section);
}

section {
  display: inherit;
  grid-column: page;
  grid-template-columns: subgrid;
  gap: var(--line-break) var(--grid-gap);
}
section > div {
  margin-bottom: var(--grid-replacing-margin);
}
section.space-above {
  margin-top: var(--margin-section);
}
section.element-spacing {
  gap: var(--margin-element) var(--grid-gap);
}

.headline-container, .main, .page-opener, .breakout, .hero, .oversized {
  display: inherit;
  grid-column: page;
  grid-template-columns: subgrid;
}

.headline-container {
  text-wrap: pretty;
}
.headline-container > h1 {
  margin: calc(var(--margin-section) - var(--line-break)) 0 calc(var(--margin-element) - var(--line-break)) 0;
  grid-column: breakout;
}
.headline-container > h1:first-child {
  margin-top: 0;
}
@media (min-width: 1024px) {
  .headline-container > h1 {
    grid-column: oversized;
  }
}
.headline-container > h2, .headline-container > h3 {
  margin: calc(var(--margin-element) - var(--line-break)) 0 0 0;
  grid-column: main;
}
.headline-container > h2:first-child, .headline-container > h3:first-child {
  margin-top: 0;
}

.main > *, .page-opener > * {
  grid-column: main;
}

.breakout > *, .hero > * {
  grid-column: breakout;
}

.oversized > * {
  grid-column: oversized;
}

.thirds-aside-left, .oversized-aside-left, .thirds-aside-right, .oversized-aside-right {
  display: inherit;
  grid-column: page;
  grid-template-columns: subgrid;
  grid-template-rows: [left-content-start right-content-start] auto [left-content-end right-content-end];
}
.thirds-aside-left aside, .oversized-aside-left aside, .thirds-aside-right aside, .oversized-aside-right aside {
  height: fit-content;
}

.thirds-aside-left aside {
  grid-column: left-one-third;
  grid-row: left-content;
}
@media (max-width: 534px) {
  .thirds-aside-left aside {
    max-width: 45%;
    box-sizing: border-box;
    float: left;
    margin-right: var(--body-margin);
    margin-bottom: var(--line-break);
  }
}
.thirds-aside-left div {
  grid-column: right-two-thirds;
  grid-row: right-content;
}

.oversized-aside-left aside {
  grid-column: left-oversized;
  grid-row: left-content;
}
@media (max-width: 534px) {
  .oversized-aside-left aside {
    max-width: 45%;
    box-sizing: border-box;
    float: left;
    margin-right: var(--body-margin);
    margin-bottom: var(--line-break);
  }
}
.oversized-aside-left div {
  grid-column: right-two-thirds;
  grid-row: right-content;
}
@media (min-width: 1280px) {
  .oversized-aside-left div {
    grid-column: main;
  }
}

.thirds-aside-right aside {
  grid-column: right-one-third;
  grid-row: right-content;
}
@media (max-width: 534px) {
  .thirds-aside-right aside {
    max-width: 45%;
    box-sizing: border-box;
    float: right;
    margin-left: var(--body-margin);
    margin-bottom: var(--line-break);
  }
}
.thirds-aside-right div {
  grid-column: left-two-thirds;
  grid-row: left-content;
}

.oversized-aside-right aside {
  grid-column: right-oversized;
  grid-row: right-content;
}
@media (max-width: 534px) {
  .oversized-aside-right aside {
    max-width: 45%;
    box-sizing: border-box;
    float: right;
    margin-left: var(--body-margin);
    margin-bottom: var(--line-break);
  }
}
.oversized-aside-right div {
  grid-column: left-two-thirds;
  grid-row: left-content;
}
@media (min-width: 1280px) {
  .oversized-aside-right div {
    grid-column: main;
  }
}

@media (min-width: 535px) {
  .two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--margin-element) var(--grid-gap);
  }
}
.two-columns > * {
  margin-bottom: var(--grid-replacing-row-gap);
}

@media (min-width: 535px) {
  .auto-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 535px));
    gap: var(--margin-element) var(--grid-gap);
  }
}
.auto-columns > * {
  margin-bottom: var(--grid-replacing-row-gap);
}

.floating-illustration {
  display: block;
  grid-column: page;
  background-color: var(--color-visual-grouping);
  padding: var(--grid-gap);
  box-sizing: border-box;
  text-align: center;
  border-radius: var(--border-radius-default);
}
.floating-illustration.main, .floating-illustration.oversized {
  display: grid;
  grid-template-columns: subgrid;
}
@media (max-width: 534px) {
  .floating-illustration.main, .floating-illustration.oversized {
    display: block;
  }
}
.floating-illustration.main picture, .floating-illustration.main img {
  grid-column: main;
}
.floating-illustration.oversized picture, .floating-illustration.oversized img {
  grid-column: oversized;
}

.ceil {
  height: fit-content;
  align-self: start;
}

.vertical-middle {
  height: fit-content;
  align-self: center;
}

.floor {
  height: fit-content;
  align-self: end;
  margin-top: auto;
}

.cover {
  object-fit: cover;
}

img, figure, video {
  border-radius: var(--border-radius-default);
  box-sizing: border-box;
}

img, figure, video, audio {
  margin: 0;
  padding: 0;
}

img, video, audio {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: contain;
}

picture {
  display: block;
  padding: 0;
  margin: calc(var(--margin-element) - var(--collapsing-line-break)) 0;
}
picture.illustration {
  grid-column: oversized;
  background: var(--color-visual-grouping);
  border-radius: var(--border-radius-default);
  padding: var(--grid-gap);
}
picture.illustration-main-column {
  display: inherit;
  grid-template-columns: subgrid;
}
picture.illustration-main-column img {
  grid-column: main;
}
picture.hero-image {
  grid-column: breakout;
}

.flex {
  display: flex;
  gap: var(--grid-gap);
}
.flex > * {
  display: block;
}
.flex.thirds > * {
  flex-basis: 33.3%;
}
.flex.half > * {
  flex-basis: 50%;
}

.visually-grouped-block {
  outline: solid 1px var(--color-visual-grouping);
  position: relative;
  height: fit-content;
  --visually-grouped-block-padding: var(--grid-gap);
  padding: var(--visually-grouped-block-padding);
}
.visually-grouped-block:after {
  position: absolute;
  inset: 0;
  display: block;
  content: " ";
  pointer-events: none;
  border-color: transparent;
  border-image-source: url("../images/border-image-day.png");
  border-width: 8px;
  border-style: solid;
  border-image-slice: 24;
  border-image-outset: 4px;
}
@media (prefers-color-scheme: dark) {
  .visually-grouped-block:after {
    border-image-source: url("../images/border-image-night.png");
  }
}
@media (max-width: 534px) {
  .visually-grouped-block {
    --visually-grouped-block-padding: calc(var(--grid-gap) / 2);
  }
}
.visually-grouped-block figure {
  margin: calc(-1 * var(--visually-grouped-block-padding)) calc(-1 * var(--visually-grouped-block-padding)) var(--visually-grouped-block-padding) calc(-1 * var(--visually-grouped-block-padding));
}
.visually-grouped-block figure:first-child, .visually-grouped-block figure:first-child img {
  border-radius: 0;
}

header label {
  position: absolute;
  top: calc(var(--body-margin) + 0.28125rem);
  right: var(--body-margin);
  z-index: 101;
}
header nav {
  /*
  The input[type=checkbox]#nav-toggle triggers all .triggered nodes to change the menu icon and show/hide the menu
  */
}
header nav .menu {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-page, #f0f);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--line-break);
}
header nav input[type=checkbox]#nav-toggle {
  visibility: hidden;
  position: absolute;
  left: -5000px;
}
header nav input[type=checkbox]#nav-toggle + label #close {
  display: none;
}
@media (max-width: 1022px) {
  header nav input[type=checkbox]#nav-toggle:checked ~ label {
    position: fixed;
  }
  header nav input[type=checkbox]#nav-toggle:checked ~ .triggered-by-nav-toggle #close {
    display: unset;
  }
  header nav input[type=checkbox]#nav-toggle:checked ~ .triggered-by-nav-toggle #menu {
    display: none;
  }
  header nav input[type=checkbox]#nav-toggle:checked ~ .menu.triggered-by-nav-toggle {
    display: flex;
    margin: 0;
    padding: var(--body-margin);
    min-height: 100vh;
    min-height: 100lvh;
  }
}
header nav ul {
  list-style: none;
  padding: 0;
}
@media (max-width: 1022px) {
  header nav a {
    font-family: futura-pt, "Futura PT", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: var(--color-accent);
  }
  header nav a .CTA {
    color: var(--text-color-inverted);
  }
}
header nav a:link, header nav a:active, header nav a:visited {
  text-decoration: none;
  color: var(--text-color-link, #f0f);
}
header nav a:hover, header nav a:focus {
  text-decoration: underline;
  color: var(--text-color-body-text, #f0f);
}
header nav a.current {
  text-decoration: underline;
}
@media (min-width: 1023px) {
  header nav input, header nav label {
    display: none;
  }
  header nav .menu {
    display: flex;
    position: unset;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
  }
  header nav a, header nav a[role=button] {
    padding: calc(0.25rem - 1px) calc(0.5rem - 1px);
  }
}

header {
  grid-column: page;
  grid-row: header;
  display: flex;
  gap: var(--grid-gap, 500px);
  margin-bottom: var(--grid-replacing-margin-section);
}
header a, header a:link, header a:active, header a:visited, header a:hover, header a:focus {
  text-decoration: none;
}
header a:focus-visible h1 {
  text-decoration: underline;
}
header .title {
  font-family: futura-pt, "Futura PT", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-accent);
  text-transform: unset;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-color-dimmed);
  flex-grow: 1;
  margin-bottom: 0;
}
@media (max-width: 534px) {
  header .title {
    font-size: 1.3rem;
  }
}
@supports (-webkit-background-clip: text) {
  header .title a, header .title a:link, header .title a:active, header .title a:visited, header .title a:hover, header .title a:focus {
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
header .title a .accent, header .title a:link .accent, header .title a:active .accent, header .title a:visited .accent, header .title a:hover .accent, header .title a:focus .accent {
  -webkit-text-fill-color: currentcolor;
  -webkit-background-clip: unset;
  color: var(--color-accent-alternative);
}

:root {
  --margin-section: 4rem;
  --margin-element: 3rem;
  --spacer-full: var(--margin-element);
  --line-break: calc(.618rem * var(--line-height-factor, 1.48));
  --collapsing-line-break: 0;
  --grid-gap: 1rem;
  --grid-replacing-column-gap: var(--grid-gap);
  --grid-replacing-margin: var(--grid-replacing-column-gap);
  --grid-replacing-row-gap: var(--margin-element);
  --grid-replacing-margin-section: var(--margin-section);
  --body-margin: 0.5rem;
  --border-radius-default: 0.5rem;
  --transition-duration-M: 120ms;
  --transition-duration-M-click: 35ms;
  --transition-duration-L: 240ms;
  --transition-duration-L-click: 55ms;
  --transition-duration-XL: 380ms;
  --transition-timing-function: cubic-bezier(.5, .5, .25, .75);
}
@media (min-width: 535px) {
  :root {
    --grid-replacing-margin: 0;
    --grid-replacing-margin-section: 0;
    --grid-replacing-row-gap: 0;
    --collapsing-line-break: var(--line-break);
  }
}
@media (min-width: 744px) {
  :root {
    --margin-section: 6rem;
    --margin-element: 3rem;
    --spacer-full: var(--margin-element);
  }
}
@media (min-width: 375px) {
  :root {
    --body-margin: 1rem;
  }
}
@media (min-width: 430px) {
  :root {
    --body-margin: 1.5rem;
  }
}
@media (min-width: 744px) {
  :root {
    --body-margin: 3rem;
  }
}

body {
  margin: var(--body-margin);
  padding: 0;
  background: var(--color-page);
}
@media (min-width: 108rem) {
  body {
    max-width: 102rem;
    margin-left: auto;
    margin-right: auto;
  }
}

img {
  border-radius: var(--border-radius-default);
}

/*# sourceMappingURL=root.css.map */
