@media (min-width: 744px) {
  main {
    display: grid;
    grid-gap: var(--spacer-section) var(--grid-gap);
    grid-template-columns: repeat(2, 1fr);
  }
}
main .page-opener {
  min-height: calc(100vh - 8rem - var(--body-margin) - var(--spacer-section));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .page-opener h1 {
  width: 100%;
  margin-top: 0;
}
main .page-opener h1:last-child {
  margin-bottom: 0;
}
main article {
  margin-bottom: var(--spacer-element);
  position: relative;
  min-height: 247px;
}
@media (min-width: 744px) {
  main article {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  main article {
    aspect-ratio: 16/9;
  }
}
main article.CTA {
  grid-column: 1/-1;
  aspect-ratio: unset;
}
main article.CTA > div {
  text-align: left;
}
@media (min-width: 55.5rem) {
  main article.CTA > div {
    max-width: 49.5rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
}
main article .card {
  display: block;
  outline: solid 1px var(--color-visual-grouping);
  position: relative;
  position: absolute;
  inset: 0;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: var(--grid-gap);
  background-origin: content-box;
  transition-property: padding;
  transition-duration: var(--transition-duration-XL);
  transition-timing-function: var(--transition-timing-function);
}
main article .card:after {
  position: absolute;
  inset: 0;
  display: block;
  content: " ";
  pointer-events: none;
  border-color: transparent;
  border-image: url("../images/border-image-day.png");
  border-width: 8px;
  border-style: solid;
  border-image-slice: 24;
  border-image-outset: 4px;
}
main article .card:hover, main article .card:focus {
  padding: calc(var(--grid-gap) / 2);
}
main article .card:hover .card-body, main article .card:focus .card-body {
  opacity: 1;
}
main article .card:focus-visible {
  outline: solid 2px var(--color-accent);
  outline-offset: calc(var(--grid-gap) / 2 - 4px);
}
main article .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--transition-duration-XL);
  transition-timing-function: var(--transition-timing-function);
  position: absolute;
  inset: 0;
  background-color: var(--color-day-overlay);
  color: var(--text-color-inverted);
  text-align: center;
  padding: var(--grid-gap);
}
main article .card .card-body * {
  flex-grow: 0;
}
main article .card .card-body h2 {
  background: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  color: var(--text-color-inverted);
}
@media (max-width: 1024px) {
  main article .card .card-body h2 {
    font-size: 1.5rem;
  }
}
@media (pointer: coarse), (pointer: none) {
  main article {
    aspect-ratio: 1;
  }
  main article h2 {
    margin-bottom: 0;
  }
  main article .card {
    padding: calc(var(--grid-gap) / 2);
    padding-bottom: calc(50% + var(--grid-gap) / 2);
  }
  main article .card .card-body {
    opacity: 1;
    top: 50%;
  }
}

footer {
  max-width: unset;
}

/*# sourceMappingURL=home.css.map */
