// Breakpoints as Sass variables

$phone-XS: 375px;

$phone-: 390px;
$phone: 390px;

$phablet-: 413px;
$phablet: 414px;

$tablet-: 743px;
$tablet: 744px;

$desktop-S-: 1023px;
$desktop-S: 1024px;

$desktop-: 1279px;
$desktop: 1280px;
