@use 'typography';
@use 'breakpoints';

//Buttons

button, .button, a[role=button] {
  --transition-duration: var(--transition-duration-L);
  --transition-duration-click: var(--transition-duration-L-click);
  --color-ambient-occlusion-level-1: rgba(0, 0, 0, 0.02);
  --color-ambient-occlusion-level-2: rgba(0, 0, 0, 0.04);
  --color-drop-shadow: rgba(0, 0, 0, 0.12);
  --color-inset-shadow-when-pressed: var(--color-drop-shadow);

  white-space: nowrap;
  @media (max-width: #{breakpoints.$phablet-}){
    white-space: normal;
  }

  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  @include typography.body-text();
  padding: .875rem .6875rem;
  margin: 0;
  border-radius: var(--border-radius-default);

  transition-property: box-shadow, transform;
  transition-duration: var(--transition-duration, 5s);
  transition-timing-function: var(--transition-timing-function);

  background-color: var(--color-page);
  border: solid 1px var(--text-color-dimmed);

  // To allow for a smooth fade of the shadow, it must exist—even if invisibly.
  box-shadow:
    0 0 0 0 var(--color-ambient-occlusion-level-1),
    0 0 0 0 var(--color-ambient-occlusion-level-2),
    0 0 0 0 var(--color-drop-shadow),
    inset 0 0 0 0 var(--color-inset-shadow-when-pressed);

  text-decoration: none;
  text-align: center;

  font-size: 1rem;
  color: var(--text-color-body-text, #f0f);

  &:link, &:active, &:visited {
    text-decoration: none;
    color: var(--text-color-body-text, #f0f);
  }
  &:hover, &:focus {
    transition-duration: var(--transition-duration, 5s);
    transition-timing-function: cubic-bezier(1, 1.5, .75, .87);

    transform: scale(1.03);

    box-shadow:
    0 0 .25rem 0 var(--color-ambient-occlusion-level-1),
    0 0 1.5rem 0 var(--color-ambient-occlusion-level-2),
    0 .5rem 1px 0 var(--color-drop-shadow),
    inset 0 0 0 0 var(--color-inset-shadow-when-pressed);

    text-decoration: none;
    color: var(--text-color-body-text, #f0f);
  }
  &:active {
    transition-duration: var(--transition-duration-click);

    transform: scale(1);

    box-shadow:
    0 0 0 0 var(--color-ambient-occlusion-level-1),
    0 0 0 0 var(--color-ambient-occlusion-level-2),
    0 0 0 0 var(--color-drop-shadow),
    inset 0 .5rem 1px 0 var(--color-inset-shadow-when-pressed);
  }

  &.nav-button {
    display: inline-block;
    background-color: var(--color-page);
    padding: 0.25rem 0.5rem;
    margin: 0;
    border-color: transparent;

    &.current {
      background-color: var(--color-visual-grouping);
    }

    &:hover, &:focus {
      background-color: var(--color-specular);
      &.current {
        background-color: var(--color-visual-grouping);
      }
      border-color: var(--text-color-dimmed);
      transform: scale(1.1);

      box-shadow:
      0 0 .25rem 0 var(--color-ambient-occlusion-level-1),
      0 0 1.5rem 0 var(--color-ambient-occlusion-level-2),
      0 .25rem 1px 0 var(--color-drop-shadow),
      inset 0 0 0 0 var(--color-inset-shadow-when-pressed);
    }

    &:active {
      &.current {
        background-color: var(--color-visual-grouping);
      }

      box-shadow:
      0 0 0 0 var(--color-ambient-occlusion-level-1),
      0 0 0 0 var(--color-ambient-occlusion-level-2),
      0 0 0 0 var(--color-drop-shadow),
      inset 0 .25rem 1px 0 var(--color-inset-shadow-when-pressed);
    }

  }

  &.CTA {
    background: var(--gradient-accent);
    color: var(--text-color-inverted);
    border: none;

    --color-inset-shadow-when-pressed: rgba(0, 0, 0, 0.33);

    &:link, &:active, &:visited {
      text-decoration: none;
      color: var(--text-color-inverted, #f0f);
    }

    &:hover, &:focus {
      background-color: var(--color-accent-hover, #f0f);
      color: var(--text-color-inverted, #f0f);
      text-decoration: none;
    }
  }

  &.disabled {
    border: solid 1px var(--text-color-disabled);
    color: var(--text-color-dimmed);

    &:hover, &:focus {
      transform: none;
      box-shadow: none;
      background-color: unset;
      cursor: not-allowed;
    }
  }


	aside & {
		display: block;
		text-align: center;
	}
}
