// Styles for cards

.card {
  display: block;
  position: relative;
  aspect-ratio: 16/10;
  overflow: hidden;
  border-radius: var(--border-radius-default);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    //object-position could use focal point as supported by Kirby CMS
    transition-property: transform;
    transition-timing-function: cubic-bezier(.5,0,.2,1);
    transition-duration: 1s;
  }

  &:focus-visible {
    outline: solid var(--text-color-link) 4px;
  }
  &:hover {
    img {
      transform: scale(1.1);
      transition-duration: 500ms;
      transition-timing-function: cubic-bezier(.5,0,0,1);
    }
  }

  .label {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--spacer-line-break) var(--grid-gap);
    box-sizing: border-box;
    background: var(--color-overlay);
  }

  h2, h3, h4, h5, h6, p {
    margin-block: 0;
  }
  h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
  }
}
