// Styles for cards
@use 'breakpoints';

.card {
  display: block;
  @media (min-width: #{breakpoints.$phablet}) {
    position: relative;
    aspect-ratio: 1;
    --link-decoration: none;
    --link-decoration-hover: none;
  }
  @media (min-width: #{breakpoints.$desktop-S}) {
    aspect-ratio: 16/10;
  }
  overflow: hidden;
  border-radius: var(--border-radius-default);
  margin: var(--grid-replacing-margin-section) 0;

  --link-color: var(--text-color-link);
  --link-color-hover: var(--text-color-link);

  img {
    width: 100%;

    @media (min-width: #{breakpoints.$phablet}) {
      height: 100%;
      object-fit: cover;
      transition-property: transform;
      transition-timing-function: cubic-bezier(.5,0,.2,1);
      transition-duration: 1s;
    }
  }

  &:focus-visible {
    outline: solid var(--text-color-link) 4px;
  }
  @media (min-width: #{breakpoints.$phablet}) {
    &:hover {
      img {
        transform: scale(1.1);
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(.5,0,0,1);
      }
    }
  }

  .label {
    display: block;
    padding: var(--line-break) 0 0 0;

    @media (min-width: #{breakpoints.$phablet}) {
      display: flex;
      flex-direction: column;
      justify-content: center;

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      height: calc(var(--line-height-factor) * 3rem);
      padding: var(--line-break) var(--grid-gap);

      background: var(--color-overlay);
      -webkit-backdrop-filter: blur(24px) saturate(2);
      backdrop-filter: blur(24px) saturate(2);
      border-top: solid 1px var(--color-specular);
    }
  }

  h2, h3, h4, h5, h6, p {
    margin-block: 0;
  }
  h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
  }
}
