// Colors as CSS variables

@mixin day() {
  --text-color-body-text: #212121;
  --text-color-dimmed: #8F9AA3;
  --text-color-disabled: #b9bfc5;
  --text-color-link: #545454;
  --text-color-inverted: #FFFFFF;
  --text-color-high-contrast: #000000;

  --color-visual-grouping: #EAEBEB;
  --color-page: #FFFFFF;
  --color-specular: rgba(255, 255, 255, 0.75);

  --color-accent: #11446C;
  //--color-accent-alternative: var(--text-color-dimmed);
  --color-accent-alternative: #00b24d;
  //--color-accent-alternative: #da4610;
  --gradient-accent: linear-gradient(to right top, #003966 0%, #0a5289 100%);

  --color-overlay: rgba(255, 255, 255, 0.63);
}

@mixin night() {
  --text-color-body-text: #c6c6c6;
  --text-color-dimmed: #7d8890;
  --text-color-disabled: #586069;
  --text-color-link: #e0e0e0;
  --text-color-inverted: #141414;
  --text-color-high-contrast: #000000;

  --color-visual-grouping: #272929;
  --color-page: #141414;
  --color-specular: rgba(255, 255, 255, 0.28);

  --color-accent: #198de5;
  --color-accent-alternative: #45d785;
  --gradient-accent: linear-gradient(to right top, #75baef 0%, #8cc5f1 100%);

  --color-overlay: rgba(20, 20, 20, 0.55);
}

:root {
  @include day();
  @media (prefers-color-scheme: dark) {
    @include night();
  }
}
