// Colors as CSS variables

@mixin day() {
  --text-color-body-text: #212121;
  --text-color-aside-text: #474747;
  --text-color-dimmed: #8F9AA3;
  --text-color-disabled: #b9bfc5;
  --text-color-link: #545454;
  --text-color-inverted: #FFFFFF;
  --text-color-high-contrast: #000000;

  --color-visual-grouping: #EAEBEB;
  --color-page: #FFFFFF;
  --color-specular: rgba(255, 255, 255, 0.75);

  --color-accent: #11446C;
  --color-accent-gradient-1: #003966;
  --color-accent-gradient-2: #0a5289;
  --gradient-accent: linear-gradient(to right top, var(--color-accent-gradient-1) 0%, var(--color-accent-gradient-2) 100%);
  --color-accent-backgroud: #dbecf9;

  --color-accent-alternative: #da4610;
  --color-accent-alternative-gradient-1: #c23e0e;
  --color-accent-alternative-gradient-2: #ed4c11;
  --gradient-accent-alternative: linear-gradient(to right top, var(--color-accent-alternative-gradient-1) 0%, var(--color-accent-alternative-gradient-2) 100%);

  --color-overlay: rgba(255, 255, 255, 0.63);
}

@mixin night() {
  --text-color-body-text: #c6c6c6;
  --text-color-aside-text: #adadad;
  --text-color-dimmed: #7d8890;
  --text-color-disabled: #586069;
  --text-color-link: #e0e0e0;
  --text-color-inverted: #141414;
  --text-color-high-contrast: #000000;

  --color-visual-grouping: #272929;
  --color-page: #141414;
  --color-specular: rgba(255, 255, 255, 0.28);

  --color-accent: #198de5;
  --color-accent-gradient-1: #167fce;
  --color-accent-gradient-2: #2b96e7;
  --gradient-accent: linear-gradient(to right top, var(--color-accent-gradient-1) 0%, var(--color-accent-gradient-2) 100%);
  --color-accent-backgroud: #082d49;

  --color-accent-alternative: #fb6e3c;
  --color-accent-alternative-gradient-1: #fa5c23;
  --color-accent-alternative-gradient-2: #fb7d50;
  --gradient-accent-alternative: linear-gradient(to right top, var(--color-accent-alternative-gradient-1) 0%, var(--color-accent-alternative-gradient-2) 100%);

  --color-overlay: rgba(20, 20, 20, 0.55);
}

:root {
  @include day();
  @media (prefers-color-scheme: dark) {
    @include night();
  }
}
