// Styles for Footnotes

#footnotes {
  margin-top: var(--spacer-element);
  border-top: solid 2px var(--text-color-dimmed);
  padding-top: var(--line-break);
}

a[href="#footnotes"] {
  display: inline-block;
  transform: translateY(-.3em);
  font-size: 0.8em;
  letter-spacing: .5px;

  &:before {
    content: '[';
  }
  &:after {
    content: ']';
  }
}
