@use 'typography';

@use 'main-menu';

// Styles for the global page header

header {
  grid-column: page;

  display: flex;
  gap: var(--grid-gap, 500px);
  margin-bottom: var(--spacer-section);

  a, a:link, a:active, a:visited, a:hover, a:focus {
    text-decoration: none;
  }

  a:focus-visible h1 {
    text-decoration: underline;
  }

  .title {
    @include typography.headline-font;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--text-color-dimmed);

    flex-grow: 1;
    margin-bottom: 0;

    a, a:link, a:active, a:visited, a:hover, a:focus {
      @include typography.headline-style;
    }
  }
}
