// Global Layout Settings

@use 'layer-styles';

body {
  display: grid;

  // 12 column layout translated into named columns
  // |------------| page / breakout
  // ...|------|... main
  // ...|---|...... left-column
  // ......|---|... right column
  // ...|--|....... left-one-third
  // .......|--|... right-one-third

  grid-template-columns:
    [page-start breakout-start] 2fr
    [oversized-start left-oversized-start] 1fr
    [main-start left-column-start left-two-thirds-start left-one-third-start] 2fr
    [left-one-third-end left-oversized-end right-two-thirds-start] 1fr [left-column-end right-column-start]
    1fr [left-two-thirds-end right-one-third-start right-oversized-start]
    2fr [main-end right-two-thirds-end right-one-third-end right-column-end]
    1fr [oversized-end right-oversized-end]
    2fr [page-end breakout-end];

  //grid-template-rows: [page-start header-start] auto [main-start] auto [main-end] auto [page-end header-end];

  gap: var(--grid-gap) var(--grid-gap);
}

main {
  grid-column: page;
  display: grid;
  grid-template-columns: subgrid;
  gap: var(--grid-gap) var(--grid-gap);
}

section {
  grid-column: page;
  display: grid;
  grid-template-columns: subgrid;
  column-gap: var(--grid-gap);
  row-gap: 0;
}

.main, .page-opener {
  grid-column: main;
}

.breakout, .hero {
  grid-column: breakout;
}

.floating-illustration {
  background-color: var(--color-visual-grouping);
  padding: var(--grid-gap);
  box-sizing: border-box;
  text-align: center;

  &.main {
    display: grid;
    grid-template-columns: subgrid;

    img {
      grid-column: main;
    }
  }
}


.layout {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: [content-start] 1fr [content-end];
}

.two-columns {
  .column {
    grid-row: content;

    &:first-child {
      grid-column: left-column;
    }
    &:last-child {
      grid-column: right-column;
    }
  }
}

.left-two-thirds {
  grid-column: left-two-thirds;
  grid-row: content;
}

.right-two-thirds {
  grid-column: right-two-thirds;
  grid-row: content;
}

.right-one-third {
  grid-column: right-one-third;
  grid-row: content;
}

.left-oversized {
  grid-column: left-oversized;
  grid-row: content;
}

.right-oversized {
  grid-column: right-oversized;
  grid-row: content;
}

.oversized {
  grid-column: oversized;
  grid-row: content;
}

.ceil {
  height: fit-content;
  align-self: start;
}

.vertical-middle {
  height: fit-content;
  align-self: center;
}

.floor {
  height: fit-content;
  align-self: end;
}

.visually-grouped-block {
  @include layer-styles.resize-handles;

  height: fit-content;
  &.floor {
    align-self: end;
  }

  padding: var(--spacer-line-break);

  figure {
    margin:
      calc(-1 * var(--spacer-line-break))
      calc(-1 * var(--spacer-line-break))
      var(--spacer-line-break)
      calc(-1 * var(--spacer-line-break));
  }
  figure:first-child {
    &, & img {
      border-radius: 0;
    }
  }
}

footer {
  grid-column: page;
}

// --- Elements
.visually-grouped-list {
  border-left: solid 2px var(--color-accent, #f0f);
  &.aside {
    border-color: var(--text-color-dimmed);
    h1, h2, h3, h4, h5, h6 {
      background: unset;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
      color: var(--text-color-dimmed);
    }
  }
  padding-left: 1.5rem;
  margin: var(--spacer-element) 0 var(--spacer-line-break, 500px) 0;
  &:first-child {
    margin-top: 0;
  }
}

img, figure, video {
  border-radius: var(--border-radius-default);
  margin: var(--spacer-line-break) 0 var(--spacer-line-break) 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  box-sizing: border-box;

  * {
    max-width: 100%;
  }
}

img, figure, video, audio {
  margin: 0;
  padding: 0;
}

img, video, audio {
  width: 100%;
  height: auto;
  max-height: 80vh;
  max-height: 80svh;
  object-fit: contain;
}
