// Decorative styles for Block-Level-Elements

@use 'breakpoints';

@mixin resize-handles() {
  // The CSS outline matches the 1px line in the border-image and provides
  // the visual clue until the graphic with the resize-handles has loaded
  outline: solid 1px var(--color-visual-grouping);
  position: relative;
  height: fit-content;

  &:after {
    position: absolute;
    inset: 0;
    display: block;
    content: " ";
    pointer-events: none;

    border-color: transparent;
    border-image-source: url('../images/border-image-day.png');
    @media (prefers-color-scheme: dark) {
      border-image-source: url('../images/border-image-night.png');
    }
    border-width: 8px;
    border-style: solid;
    border-image-slice: 24;
    border-image-outset: 4px;

    // This needs to be inside an absolutely positioned pseudo-element
    // to avoid the border-width from adding unwanted white space between
    // the edge/corners and the content/background -> border-image-outset
  }
}

@mixin spacing() {
  --spacer-section: 4rem;
  --spacer-element: 3rem;
  --spacer-full: var(--spacer-element);
  --line-break: calc(.618rem * var(--line-height-factor, 1.48));
  --collapsing-line-break: 0;
  --grid-gap: 1rem;
  --grid-replacing-column-gap: var(--grid-gap);
  --grid-replacing-margin: var(--grid-replacing-column-gap);
  --grid-replacing-row-gap: var(--spacer-element);
  --grid-replacing-spacer-section: var(--spacer-section);

  @media (min-width: #{breakpoints.$phablet}){
    --grid-replacing-margin: 0;
    --grid-replacing-spacer-section: 0;
    --grid-replacing-row-gap: 0;
    --collapsing-line-break: var(--line-break);
  }

  @media (min-width: #{breakpoints.$tablet}){
    --spacer-section: 6rem;
    --spacer-element: 3rem;
    --spacer-full: var(--spacer-element);
  }
}
