// Style for pretty asides

aside {
  &.info {
    border-radius: 3px;
    padding: calc(.3 * var(--line-break)) calc(.4 * var(--line-break));
    margin: calc(-.3 * var(--line-break)) 0;
    background: var(--color-accent-backgroud);
  }
}
