// Styles for SVG Icons

@use 'colors';

svg.icon {
  width: calc(1rem * var(--line-height-factor));
  height: calc(1rem * var(--line-height-factor));
  display: block;

  // Transmit CSS Color variables into the SVG icon
  use {
    @include colors.day();
    @media (prefers-color-scheme: dark) {
      @include colors.night();
    }
  }


  --transition-duration: var(--transition-duration-M);
  --primary-transform: 1;
  --secondary-transform: 0;

  *:hover > & {
    --transition-duration: var(--transition-duration-M);
    --primary-transform: 0;
    --secondary-transform: 1;
  }

  &.inline {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: .25em;
    &.right {
      margin-left: .25em;
      margin-right: 0;
    }
  }
}
